html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    font-family: arial, sans-serif;
    font-size: 13px;
    position: relative;
}

header {
    height: 50px;
    padding: 10px;
}

a, p {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
    padding: 0;
}

p > a {
    color: #1a0dab;
}
  
a:hover {
    text-decoration: underline;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

/* Top line */

.top {
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.top__button {
    border: 1px solid #4285f4;
    font-weight: bolder;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    color: white;
    line-height: 28px;
    padding: 0 12px;
    border-radius: 2px;
}

.top__button:active {
    box-shadow: inset 0 2px 0 rgba(0,0,0,.15);
    background: -webkit-linear-gradient(top,#3c7ae4,#3f76d3);
    outline: none;
}

.top__button:focus {
    outline: none;
}

.top-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 25px;
} 

.top-menu__list {
    display: flex;
}

.top-menu__list-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0 20px 0 0;
}

.top-menu__list-url {
    margin-right: 18px;
}

.top-menu__img {
    width: 16px;
    height: 16px;
    margin-top: 4px;
    opacity: 0.5;
}

.top-menu__img:hover {
    opacity: 1;
}

.top-menu__list-btn:focus {
    outline: none;
}

/* Search part */

.search {
    display: flex;
    flex-direction: column;
    margin-top: 6.5%;
    align-items: center;
}

.search-logo {
    height: 92px;
    width: 272px;
    padding-bottom: 2%;
}

.search-body {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    width: 582px;
    justify-content: space-around;
}
.search-body__div{
    display: flex;
    width: 443px;
}

.search-body__input {
    background-color: transparent;
    border: none;
    margin: auto 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    outline: none;
    height: 34px;
    font-size: 16px;
    width: 400px;
}
.search-body__clear-btn {
    display: flex;
    flex: 1 0 auto;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 10px 0 8px;
    line-height: 44px;
}
.search-body__clear-btn:hover::after {
    content: attr(data-title); 
    position: absolute; 
    left: 60%; 
    top: 51%; 
    z-index: 1; 
    background: rgb(37, 37, 37); 
    font-family: Arial, sans-serif; 
    font-size: 11px; 
    padding: 5px 10px;
    border: 1px solid #fff; 
    color: #fff;
    display: flex;
    align-items: center;
    font-weight: bolder;
    height: 15px;
   }

.clear-btn {
    color: #80868b;
    cursor: pointer;
    height: 100%;
    margin-right: 12px;
    outline: none;
    display: inline-block;
    fill: currentColor;
    line-height: 24px;
    position: relative;
    width: 24px;
}
.search-line {
    border-left: 1.5px solid #dfe1e5;
    height: 65%;
}
.search-body__img-loupe {
    color: #9AA0A6;
    height: 20px;
    width: 20px;
    fill: currentColor;
    margin: auto 10px;
    
}

.search-body__img-micro {
    cursor: pointer;
    
    width: 26px;
    margin: auto 15px;
}

.search-body__img-keyboard {
    width: 20px;
    height: 11px;
    cursor: pointer;
    margin: auto 4px;

}

.search-body:hover {
    border-color: rgba(223,225,229,0);
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

.search-btns{
    display: block;
    text-align: center;
    margin-top: 20px;
}

.search-btn {
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5f6368;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.search-btn:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

.search-btn:focus {
    border: 1px solid #4d90fe;
    outline: none;
}

/* Footer */

footer {
    position: fixed; 
    bottom: 0px;
    width: 100%;
    background-color: #F2F2F2;
}

.footer-link {
    display: inline-block;
    padding-right: 27px;
    text-decoration: none;
    color: #5f6368;
    font-size: 14px;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer__ul {
    display: inline-flex;
}

.footer-line {
    line-height: 40px;
    border-top: 1px solid #e4e4e4;
}

#bel {
    font-size: 15px;
    padding-left: 30px;
    color: rgba(0, 0, 0, 0.54);
}

.footer-right {
    float: right;
}

.footer-left {
    float: left;
    margin-left: 30px;
}

/* Popup with apps */

.apps
{
    position: absolute;
    margin: 15px;
    right: 10px;
    overflow: scroll;
    background: #fff;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.30), 0 2px 6px 2px rgba(60,64,67,.15);
    overflow-x: hidden;
    width: 26%;
    height: 460px; 
    z-index: 4;  
}

.hide {
    display: none;
}

.show {
    display: block;
}

.scrolling::-webkit-scrollbar {
    width: 16px;
}

.scrolling::-webkit-scrollbar-thumb {
    background: #dadce0;
    background-clip: padding-box;
    border: 4px solid transparent;
    border-radius: 8px;
    box-shadow: none;
    min-height: 50px;
}

.scrolling::-webkit-scrollbar-track {
    background: none;
    border: none;
}

.icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 15px;
    font-size: 14px;
    letter-spacing: .09px;
    line-height: 16px;
}

.icons-item a {
    color: #5f6368;
}
  
.icons-item a:hover {
    text-decoration: none;
} 

.icons-item__block {
    padding: 15px 0 0;
    height: 100%;
}

.icons-item__block:hover {
    background-color: rgba(41, 98, 255, 0.04);
    border-radius: 10px;
}
  
.icons-item__block-img {
    max-width: 45px;
    max-height: 45px;
}

.icons-line {
    height: 0.4px;
    background-color: #dadce0;
    grid-row-start: 6;
    grid-column: 1/4;
    margin: 20px -10px 20px -15px;
}

.otherApps {
    grid-row-start: 11;
    grid-column: 1/4;
}

.otherApps-btn {
    border: 1px solid #dadce0;
    border-radius: 4px;
    box-sizing: border-box;
    color: #1a73e8;
    display: inline-block;
    font: 500 14px/16px 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    margin: 16px 0 20px 0;
    max-width: 265px;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    width: auto;
    background-color: #ecf3fe;
    border-color: transparent;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.30), 0 2px 6px 2px rgba(60,64,67,.15);
}

.otherApps-btn:hover {
    text-decoration: none;
}

/* Popup with settings */

.footer__settings {
    position: absolute;
    right: 30px;
    box-sizing: border-box;
    height: 297px;
    font-size: 14px;
    background: #fff;
    border: 1px solid #999;
    bottom: 30px;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    text-align: left;
}
  
.footer__settings-item {
    text-decoration: solid;
    list-style-type: none;
    padding: 1px 20px;
    margin: 3px 10px 0;
    color: #5f6368;
}

.footer__settings-item a {
    color: #5f6368;
} 

.footer__settings-item a:hover {
    color: #333;
} 

.push:active {
    color: #dd4b39;
}



